.country {
    padding: 50px;
}

.btn-light {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    display: inline-block;
}

.country article .country-details div{
    margin: 20px 0;
}

.country article .country-details div h2 {
    font-weight: 600;
    font-size: 30px;
    
}

.country article .country-details div h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 16px;
}

.country article .country-details div h5 span {
    font-weight: 300;
}

.country article  div h3 {
    margin: 0 10px;
    background-color: var(--article-color);
}